<h1>User Input:</h1>
<hr>
<!--<%=cookies%>-->

<dl>
  <dt><b>Reactants:</b></dt> 
    <dd><%=@reactants%></dd>

  <dt><b>Products:</b><dt> 
    <dd><%=@products%></dd>

  <dt><b>Chemical Equation:</b></dt>
    <dd><%=@reactants.strip.gsub(',',' + ')%>  → <%=@products.strip.gsub(',',' + ')%></dd> <!--first, remove spaces, then replace commas with plus signs-->
</dl>

<hr>
<h1>Output:</h1>
  <dt><b>Balanced Chemical Equation:</b></dt> 
    <dd><%=@chemical_equation%></dd>
  
  <dt><b>Compounds Information => moles coefficient, chemical formula, molecular weight, number of moles, and mass (g): </b><dt>
    <dd><%=@dict_all_compounds%></dd>  

  <dt><b>The calculated amount of substances to prepare <u><%=@product_amount%> g</u> of <u><%=@product_name%></u>:</b></dt>
    <dd><%=@report_result%></dd>

<dl>

<br>
<br>
<a href="/">Go back</a>
